body {
  background-image: linear-gradient(#e8e8e8 1px, transparent 1px), linear-gradient(90deg, #e8e8e8 1px, transparent 1px);
  background-size: 40px 40px,
 40px 40px;
}

.cube-red {
  background-color: #ff0000;
  width: 10px;
  height: 10px;
}

.cube-blue {
  background-color: #0000ff;
  width: 15px;
  height: 15px;
}

.cube-green {
  background-color: #00ff00;
  width: 20px;
  height: 20px;
}

.cube-red,
.cube-blue,
.cube-green {
  display: inline-block;
  position: absolute;
}

.description-cubes__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.description-cubes__text {
  margin: 5px;
}

.description-cubes__cube {
  position: relative;
  margin: 10px;
}

.header__title {
  margin-bottom: 30px;
  text-transform: uppercase;
  text-align: left;
}

.header__btn {
  text-transform: uppercase;
  border-radius: 20px;
  border: 2px solid;
  width: 150px;
  background-color: #ffffff;
}

.header__counters {
  text-align: center;
  margin-top: 30px;
}

.header__container {
  text-align: center;
}

.header__logo {
  margin-top: 30px;
  width: 100px;
}

.counters__text {
  min-width: 70px;
}

.counters__input {
  min-width: 70px;
  text-align: center;
}

.main__user {
  text-align: center;
}

.main__user-statistics {
  text-transform: uppercase;
  color: #777777;
  display: block;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
}

.main__playing-field {
  position: relative;
  background-color: #ffffff;
  min-height: 300px;
  height: calc(100vh - 170px);
  overflow: hidden;
}

.main__left-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
}

.main__gag {
  margin: auto;
}

.main__table {
  margin: 0 auto;
}

.main__table th {
  text-transform: uppercase;
  text-align: center;
  color: #777777;
}

.main__table td {
  text-align: center;
  padding: 5px;
}

.main__table td:nth-child(1) {
  text-align: left;
}

.modal-windov {
  position: fixed;
  display: none;
  z-index: 9999;
  background-color: rgba(203, 203, 203, 0.433);
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.modal-windov__container {
  background-color: #ffffff;
  width: 300px;
  height: 230px;
  position: absolute;
  left: calc(50%  - 151px);
  top: calc(50% - 151px);
  border: 2px solid;
  border-radius: 10px;
}

.modal-windov__error {
  color: #ff0000;
}

.modal-windov__points {
  margin: 20px;
}

.modal-windov__box {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.modal-windov__name {
  margin: 5px;
  font-size: 20px;
}

.fprm-login {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5% auto;
}

.fprm-login__error-list {
  color: #ff0000;
}

.fprm-login__btn {
  width: 400px;
}

.none {
  display: none;
}
