<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kill The Cube</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">

    <script type="module">import "./controller/main.js";</script>
</head>

<body>
    <section class="modal-section">
        <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
            role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Regulations</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <P>
                            The essence of the game is as follows: On the field, on which "cubes" are located in random
                            order, there are colored
                            blocks. Cubes are removed from the field by hovering the cursor over the cube and then
                            clicking
                            the left mouse button.
                        </P>
                        <div class="description-cubes">
                            <div class="description-cubes__box">
                                <div class="description-cubes__cube cube-red"></div>
                                <p class="description-cubes__text">- red cube: 3 points</p>
                            </div>
                            <div class="description-cubes__box">
                                <div class="description-cubes__cube cube-blue"></div>
                                <p class="description-cubes__text">- blue cube: 2 points</p>
                            </div>
                            <div class="description-cubes__box">
                                <div class="description-cubes__cube cube-green"></div>
                                <p class="description-cubes__text">- green cube: 1 points</p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-windov" id="modal-windov">
            <div class="modal-windov__container">
                <p class="modal-windov__points">Your score: <span id="points-res"></span></p>
                <div class="modal-windov__box">
                    <p class="modal-windov__name">Name</p>
                    <input type="text" disabled class="modal-windov__name-input form-control form-control" id="name">
                </div>
                <p class="modal-windov__error" id="error"></p>
                <button class="modal-windov__btn btn btn-outline-secondary" id="submit">Save</button>
                <button class="modal-windov__btn btn btn-outline-secondary" id="notSubmit">Not save</button>
            </div>
        </div>
    </section>
    <header class="header container">
        <div class="row">
            <div class="header__container col-xl-6 col-lg-7 col-md-4 col-sm-6 col-12">
                <h1 class="header__title">Kill The Cube</h1>
                <button type="button" class="header__btn m-2 btn btn-outline-secondary" id="start">Start</button>
                <button type="button" class="header__btn m-2 btn btn-outline-secondary" id="new-game">New game</button>
                <button type="button" class="header__btn m-2 btn btn-outline-secondary" id="logout">logout</button>
                <button type="button" class="header__btn m-2 btn btn-outline-secondary" data-toggle="modal"
                    data-target="#staticBackdrop">description</button>
            </div>
            <div class="header__counters col-xl-4 col-lg-3 col-md-5 col-sm-4 col-9 container">
                <div class="row p-3">
                    <div class="counters col-4 col-md-6 col-sm-12">
                        <p class="counters__text">Points</p>
                        <input value="0" type="text" class="counters__input form-control" disabled placeholder="0"
                            id="points">
                    </div>
                    <div class="counters col-4 col-md-6 col-sm-12">
                        <p class="counters__text">Time left</p>
                        <input type="text" class="counters__input form-control" disabled placeholder="01:00" id="time">
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-3 col-sm-2 col-3 p-2">
                <img class="header__logo" src="img/logo.png" alt="logo">
            </div>
        </div>
    </header>
    <main class="container">
        <section class="main row">
            <aside class="main__playing-field col-md-7 m-2 p-0 border border-secondary" id="main">
            </aside>
            <div class="main__left-bar col-md-4 m-2 border border-secondary d-flex justify-content-center">
                <p class="main__user-statistics"> your stats</p>
                <p class="main__user" id="userStat"></p>
                <table class="main__table" id="table">
                    <tr>
                        <th>Name</th>
                        <th>points</th>
                    </tr>
                </table>
                <div class="main__gag"></div>
            </div>
        </section>
    </main>
</body>

</html>